
## A brief history of Python 

Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. It was created by Guido van Rossum during 1985- 1990. Like Perl, Python source code is also available under the GNU General Public License (GPL). This tutorial gives enough understanding on Python programming language.

## Why Python?

Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer syntactical constructions than other languages.

Python is a MUST for students and working professionals to become a great Software Engineer specially when they are working in Web Development Domain. I will list down some of the key advantages of learning Python:

* **Python is Interpreted**: Python is processed at runtime by the interpreter. You do not need to compile your program before executing it. This is similar to PERL and PHP.

* **Python is Interactive**: You can actually sit at a Python prompt and interact with the interpreter directly to write your programs.

* **Python is Object-Oriented**: Python supports Object-Oriented style or technique of programming that encapsulates code within objects.

* **Python is a Beginner's Language**: Python is a great language for the beginner-level programmers and supports the development of a wide range of applications from simple text processing to WWW browsers to games.

Few of the words stated above might seem Greek, but worry not, we will discuss all this in great detail. 

## What makes Python so likeable?

Over the years, Python has taken over other languages like C, Java, Javascript, C++ and has been rated as number one language to learn owing to a variety of reasons:

1. **Easy-to-learn**: Python has few keywords, simple structure, and a clearly defined syntax. This allows the student to pick up the language quickly.

2. **Easy-to-read**: Python code is more clearly defined and visible to the eyes.

3. **Easy-to-maintain**: Python's source code is fairly easy-to-maintain.

4. **A broad standard library**: Python's bulk of the library is very portable and cross-platform compatible on UNIX, Windows, and Macintosh.

5. **Interactive Mode**: Python has support for an interactive mode which allows interactive testing and debugging of snippets of code.

6. **Portable**: Python can run on a wide variety of hardware platforms and has the same interface on all platforms.

7. **Extendable**: You can add low-level modules to the Python interpreter. These modules enable programmers to add to or customize their tools to be more efficient.

8. **Databases**: Python provides interfaces to all major commercial databases.

9. **GUI Programming**: Python supports GUI applications that can be created and ported to many system calls, libraries and windows systems, such as Windows MFC, Macintosh, and the X Window system of Unix.

10. **Scalable**: Python provides a better structure and support for large programs than shell scripting.

## IDE

So to write python and execute codes, you need an environment, also known as IDE (Integrated development environment). There are a lot of IDEs that you can use for writing Python. PyCharm, VS Code, Command prompt, online editors etc. The most used is the jupyter notebook which is very easy to use and versatile. We will recommend to use Jupyter notebook. 

## Lines and Indentation

Python provides no braces to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.

The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount. For example −

In [3]:
# declaring x with a value of 8
x=8
if x==0:
    print("Hi")
else:
    print("bye")

bye

In [8]:
print(x!=8)

False

So you can see after we have written `if x==0`, there is some indentation before the next line of code starts. That is how python works. 

## Comments in Python

A hash sign (#) that is not inside a string literal begins a comment. All characters after the # and up to the end of the physical line are part of the comment and the Python interpreter ignores them.

Jupyter notebook gives an option for you to write in markdown cells which is an interesting feature according to me. 

## Variables in Python

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

## Assigning Values to Variables

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables.

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable.

In [2]:
x=40 #integer
x=40.0 #float
x="hi" #string

# Standard Data Types

Python has six standard data types −

* Numbers
* String
* List
* Tuple
* Set
* Dictionary

## Numbers

Number data types store numeric values. They are immutable data types, means that changing the value of a number data type results in a newly allocated object.

Number objects are created when you assign a value to them. For example −

In [9]:
x = 1
print(x)

1

In [10]:
y = 10
print(y)

10

In [11]:
x == 1

True

In [12]:
id(x)

2054685223216

In [13]:
x = 20

In [14]:
id(x)

2054685223824

In [15]:
print(x)

20

In [16]:
del x
del y

In [20]:
del y

In [17]:
x

NameError: name 'x' is not defined

In [18]:
x == 1

NameError: name 'x' is not defined

Numeric value can be integer, floating number or even complex numbers. These values are defined as int, float and complex class in Python. 
 

* **Integers** – This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be.
* **Float** – This value is represented by float class. It is a real number with floating point representation. It is specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation. 
* **Complex Numbers** – Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j. For example – 2+3j 
 
Note – type() function is used to determine the type of data type.

In [21]:
x = 1
print("Type of x: ", type(x))
 
y = 20.0
print("Type of y: ", type(y))
 
z = 5 + 6j
print("Type of z: ", type(z))

Type of x:  <class 'int'>
Type of y:  <class 'float'>
Type of z:  <class 'complex'>

In [22]:
print(isinstance(z, complex))

True

### Number Type Conversion

We can convert one type of number into another. This is also known as coercion.Operations like addition, subtraction coerce integer to float implicitly (automatically), if one of the operands is float.

We can also use built-in functions to convert between types explicitly:

* Type `int(x)` to convert x to an integer.

* Type `float(x)` to convert x to a floating-point number.

* Type `complex(x)` to convert x to a complex number with real part x and imaginary part zero.

* Type `complex(x, y)` to convert x and y to a complex number with real part x and imaginary part y. x and y are numeric expressions

In [23]:
# implicit conversion
2 + 3.0

5.0

In [24]:
# explicit conversion
int(2 + 3.0)

5

In [25]:
float(3 + 5)

8.0

We can convert strings to numbers as well

In [26]:
float('3')

3.0

In [27]:
complex('2+3j')

(2+3j)

### Mathematical Functions
Python includes following functions that perform mathematical calculations.

In [30]:
abs(-2)

2

In [31]:
import math

In [33]:
math.sqrt(8)

2.8284271247461903

In [34]:
math.ceil(2.3)

3

In [35]:
math.floor(3.9)

3

In [36]:
math.ceil(-3.4)

-3

In [37]:
math.floor(-3.4)

-4

In [38]:
math.fabs(-4.5)

4.5

In [39]:
math.pow(3,3)

27.0

In [40]:
math.log(100)

4.605170185988092

In [45]:
math.log10(110)

2.041392685158225

In [46]:
int(math.log10(110))

2

In [44]:
math.exp(3)

20.085536923187668

## Strings

A string is a sequence of characters. 

Strings are amongst the most popular types in Python. Strings can be created by enclosing characters inside a single quote or double-quotes. Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [47]:
my_str = 'Hello'
print(my_str)

Hello

In [48]:
my_str = "Hello"
print(my_str)

Hello

In [49]:
my_str = '''Hello'''
print(my_str)

Hello

In [52]:
# triple quotes str can extend multiple lines
my_str = """Hello, 

Welcome to the Python session by Data Vader"""

print(my_str)

Hello,

Welcome to the Python session by Data Vader

In [53]:
type(my_str)

str

In [54]:
str(2)

'2'

We can access individual characters using **indexing** and a range of characters using **slicing**. 
We can access a range of characters in a string by using the slicing operator `:`(colon)

Index starts from 0. 

Trying to access a character out of index range will raise an `IndexError`. The index must be an integer. We can't use floats or other types, this will result into `TypeError`

In [55]:
my_str = 'Data Vader'
print(my_str)

Data Vader

In [61]:
# first character
print('my_str[0] = ', my_str[2])

my_str[0] =  t

In [58]:
#slicing 3nd to 6th character
print('my_str[2:5] = ', my_str[2:6])

my_str[2:5] =  ta V

Python allows negative indexing for its sequences.

The index of -1 refers to the last item, -2 to the second last item and so on.

In [62]:
# last character
print('my_str[-1] = ', my_str[-1])

my_str[-1] =  r

In [63]:
my_str

'Data Vader'

In [64]:
#slicing 6th to 2nd last character
print('my_str[5:-2] = ', my_str[5:-2])

my_str[5:-2] =  Vad

Strings are immutable. This means that elements of a string cannot be changed once they have been assigned. We can simply reassign different strings to the same name

In [65]:
my_str[0] = 'd'

TypeError: 'str' object does not support item assignment

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the del keyword.

In [66]:
del my_str[0]

TypeError: 'str' object doesn't support item deletion

In [67]:
del my_str

In [68]:
my_str

NameError: name 'my_str' is not defined

### Escape characters

An escape character gets interpreted. It is not printed as is, and it starts with a `\`(backslash character)

In [69]:
# \n works as newline cahracter
my_str = 'Data\nVader'
print(my_str)

Data
Vader

In [70]:
# \t works as tab cahracter
my_str = 'Data\tVader'
print(my_str)

Data	Vader

Raw String - Suppresses actual meaning of Escape characters. Use r/R just before the start of the string to mark it as raw string

In [76]:
my_str = r'Data\nVader'
print(my_str)

Data\nVader

In [75]:
my_str = '\n'
print(my_str)

### String Operations

There are many operations that can be performed with strings which makes it one of the most used data types in Python.

In [78]:
# + operator concatenates two or more strings into one
my_str_1 = "Data"
my_str_2 = "Vader"

print(my_str_1 + " " + my_str_2)

Data Vader

In [79]:
# * operator repeats a string given number of times
print(my_str_1*4)

DataDataDataData

Check if a character or subtring is present in a string using `in` keyword

In [80]:
'a' in 'Data'

True

In [81]:
'd' in 'Data'

False

In [84]:
'at' in 'Data'

True

use `not` along with `in` to check if it is not present

In [85]:
'v' not in 'Data'

True

In [86]:
'vader' not in 'Data Vader'

True

The `format()` method that is available with the string object is very versatile and powerful in formatting strings. Format strings contain curly braces `{}` as placeholders or replacement fields which get replaced.

We can use positional arguments or keyword arguments to specify the order.

In [88]:
# default(implicit) order
my_str = "{}-{}".format('Data','Vader')
print(my_str)

Data-Vader

In [89]:
# order using positional argument
my_str = "{1} {0}".format('Data','Vader')
print(my_str)

Vader Data

In [94]:
# order using keyword argument
s = 'Welcome to'
my_str = "Hello {a} {b}.".format(a=s,b='vader')
print(my_str)

Hello Welcome to vader.

In [96]:
roll = 123
name = 'Data'
my_str = 'Hello {}, welcome to data vader'.format(name)
print(my_str)

Hello Data, welcome to data vader

### String Methods
There are methods available with the string object. Some of the commonly used methods are `len()`, `lower()`, `upper()`, `split()`, `find()`, `replace()` etc.

In [97]:
my_str = 'Data Vader'
print(len(my_str))

10

In [98]:
my_str = 'DaTa VaDeR'
print(my_str.lower())

data vader

In [99]:
my_str = 'data vader'
print(my_str.upper())

DATA VADER

In [101]:
my_str = 'This is the, first python, session with Data Vader.'
print(my_str.split(','))

['This is the', ' first python', ' session with Data Vader.']

In [103]:
my_str = 'This is the first python session with Data Vader.'
print(my_str.find('i'))

2

In [104]:
my_str = 'This is the first python session with Data Vader.'
print(my_str.replace('first', 'second'))

This is the second python session with Data Vader.

In [105]:
my_str = 'This is the first python session with Data Vader.'
print(my_str.count('a'))

3

In [106]:
my_str = 'Welcome to session 1. We hope you learned something today.'
print(my_str.split('.'))

['Welcome to session 1', ' We hope you learned something today', '']

In [107]:
my_str = 'welcome to session 1. we hope you learned something today.'
print(my_str.capitalize())

Welcome to session 1. we hope you learned something today.