# Python loops

Generally we the statements in python are executed sequentially and once, but sometimes we might need to execute a set of statements multiple times, that's when we use loops. There are two types of loop in python:

* for loop
* while loop

## for loop

We use for loop to iterate over a sequence like list, string, tuple etc. or and iterable object.

Syntax of for loop:
```
for value in sequence:
    statement(s)
```

In [1]:
num_list = [21, 5, 9, 11, 3, 35, 15]

num_sum = 0

for value in num_list:
    num_sum = num_sum + value
print("The sum is", num_sum)

The sum is 99

In [5]:
num_list = [21, 5, 9, 11, 3, 35, 15]

num_sum = 0

for value in num_list:
    print(value)
    num_sum = num_sum + value
print("The sum is", num_sum)

21
5
9
11
3
35
15
The sum is 99

## range function

We can generate a sequence of numbers using `range()` function. 
`range(10)` will generate numbers from 0 to 9 (10 numbers).

We can also define the start, stop and step size as `range(start, stop,step_size)`. 
step_size defaults to 1 if not provided.

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
str_list = ['cricket', 'football', 'badminton']
for s in str_list:
    print("I like to play", s)

I like to play cricket
I like to play football
I like to play badminton

In [8]:
for i in range(len(str_list)):
    print("I like to play", str_list[i])

I like to play cricket
I like to play football
I like to play badminton

In [ ]:
# [(0,"cricket"), (1,"footbal"),]

In [9]:
for i, s in enumerate(str_list):
    print(s, " is at postion ", i)

cricket  is at postion  0
football  is at postion  1
badminton  is at postion  2

In [14]:
for s in enumerate(str_list):
    print(s)

(0, 'cricket')
(1, 'football')
(2, 'badminton')

In [17]:
for i, s in enumerate(str_list, start = 101):
    print(s, " is at postion ", i)

cricket  is at postion  101
football  is at postion  102
badminton  is at postion  103

In [15]:
my_str = 'python'
for s in my_str:
    print(s)

p
y
t
h
o
n

In [18]:
my_dict = {'id':1, 'name':'Aayush', 'email':'aayush@datavader.io', 'contact':'1112223334'}
for key, value in my_dict.items():
    print(key, " --> ", value)

id  -->  1
name  -->  Aayush
email  -->  aayush@datavader.io
contact  -->  1112223334

In [19]:
my_dict = {'id':1, 'name':'Aayush', 'email':'aayush@datavader.io', 'contact':'1112223334'}
for key in my_dict:
    print(key, " --> ")

id  -->
name  -->
email  -->
contact  -->

## else in for loop

A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.

The break keyword can be used to stop a for loop. In such cases, the else part is ignored.

In [20]:
for key, value in my_dict.items():
    print(key, " --> ", value)
else:
    print("we have reached the end of dictionary")

id  -->  1
name  -->  Aayush
email  -->  aayush@datavader.io
contact  -->  1112223334
we have reached the end of dictionary

## while loop

The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

We generally use this loop when we don't know the number of times to iterate beforehand.

syntax of while loop:
```
while expression:
    statement(s)
```

In [21]:
n = 10
num = 7
i = 1
while i <= n:
    print(num , 'x', i , '=', num*i)
    i += 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [22]:
n = 10
num = 7
i = 1
while i <= n:
    print(num , 'x', i , '=', num*i)
    i += 1
else:
    print("\nwe have reached the end of the table")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

we have reached the end of the table

## Nested loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop"

In [31]:
for i in range(7,10):
    print(i)
    for j in range(1,11):
        print(i , 'x', j , '=', i*j)
    print('-------------------------------')

7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
-------------------------------
8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
-------------------------------
9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
-------------------------------

In [30]:
print(i)

9

In [26]:
i = 2
while(i < 20):
    j = 2
    while(j <= i):
        if i%j == 0: 
            break
        j += 1
    if (j == i): 
        print(i, "is prime")
    i = i + 1

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime

In [28]:
i = 2
while(i < 6):
    print('Value if i --> ',i)
    j = 2
    while(j <= i):
        print('Value if j --> ',j)        
        if i%j == 0: 
            break
        j += 1
    if (j == i): 
        print(i, "is prime")
    i = i + 1
    print('-----------------------------')

Value if i -->  2
Value if j -->  2
2 is prime
-----------------------------
Value if i -->  3
Value if j -->  2
Value if j -->  3
3 is prime
-----------------------------
Value if i -->  4
Value if j -->  2
-----------------------------
Value if i -->  5
Value if j -->  2
Value if j -->  3
Value if j -->  4
Value if j -->  5
5 is prime
-----------------------------

## break and continue

`break` and `continue` keywords are used to alter the flow of the normal execution of the loop.

### break
The break statement terminates the loop containing it. Control of the program flows to the statement immediately after the body of the loop.

If the break statement is inside a nested loop (loop inside another loop), the break statement will terminate the innermost loop.

In [32]:
names = ['Chris', 'Don', 'Robert', 'Tom', 'Josh', 'Mark']
print("Looking for Tom in the names list\n")
for name in names:
    if name == 'Tom':
        print("Found Him")
        break
        print("After break")
    else:
        print(name)
print("\nEnd of loop")

Looking for Tom in the names list

Chris
Don
Robert
Found Him

End of loop

In [34]:
names = ['Chris', 'Don', 'Robert', 'Tom', 'Josh', 'Mark']
print("Looking for James in the names list\n")
for name in names:
    if name == 'Tom':
        print("Found Him")
        break
        print("After break")
    else:
        print(name)
else:
    print("\nJames not found in the list")
print("\nEnd of loop")

Looking for James in the names list

Chris
Don
Robert
Found Him

End of loop

In [35]:
names = ['Chris', 'Don', 'Robert', 'Tom', 'Josh', 'Mark']
print("Looking for James in the names list\n")
for name in names:
    if name == 'James':
        print("Found Him")
        break
        print("After break")
    else:
        print(name)
else:
    print("\nJames not found in the list")
print("\nEnd of loop")

Looking for James in the names list

Chris
Don
Robert
Tom
Josh
Mark

James not found in the list

End of loop

In [37]:
for i in range(2):
    for j in range(10):
        if j == 5:
            break
        print(i, j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4

### continue
The continue statement is used to skip the rest of the code inside a loop for the current iteration only. Loop does not terminate but continues on with the next iteration.

In [38]:
for i in range(10):    
    if i % 3 == 0:
        continue  
    print(i, "is not a multiple of 3" )

1 is not a multiple of 3
2 is not a multiple of 3
4 is not a multiple of 3
5 is not a multiple of 3
7 is not a multiple of 3
8 is not a multiple of 3

## Exception handling in python

Errors that occur at runtime (after passing the syntax test) are called exceptions or logical errors.

For instance, they occur when we try to divide a number by zero (ZeroDivisionError), or try to read a value from an index which doesn't exist(IndexError)

Whenever these types of runtime errors occur, Python creates an exception object. If not handled properly, it prints a traceback to that error along with some details about why that error occurred.

There are plenty of built-in exceptions in Python that are raised when corresponding errors occur.

In [42]:
print(0)
1/0
print(1)
print(2)
print(2)

0

ZeroDivisionError: division by zero

### Catching Exceptions in Python
Exceptions can be handled using a `try` statement. The critical operation which can raise an exception is placed inside the `try` block. The code that handles the exceptions is written in the `except` block.

We can thus choose what operations to perform once we have caught the exception

In [43]:
my_nums = [2, 5, 6, 8, 0, None]
for num in my_nums:
    print(30 / num)

15.0
6.0
5.0
3.75

ZeroDivisionError: division by zero

In [45]:
my_nums = [2, 5, 6, 8, 0, None, 4]
for num in my_nums:
    try:
        print(30 / num)
    except:
        print("Some error occured.")

15.0
6.0
5.0
3.75
Some error occured.
Some error occured.
7.5

In [48]:
my_nums = [2, 5, 6, 8, 0, None]
for num in my_nums:
    try:
        print(30 / num)
    except Exception as e:
        print(e)

15.0
6.0
5.0
3.75
division by zero
unsupported operand type(s) for /: 'int' and 'NoneType'

In [51]:
try:
    my_dict['asd']
except:
    print('key not present')
print('end of try')

key not present
end of try

In [52]:
my_nums = [2, 5, 6, 8, 0, None]
for num in my_nums:
    try:
        print(30 / num)
    except Exception as e:
        print(e.__class__)

15.0
6.0
5.0
3.75
<class 'ZeroDivisionError'>
<class 'TypeError'>

### Catching Specific Exceptions in Python

We can specify which exceptions an except clause should catch. A try clause can have any number of except clauses to handle different exceptions, however, only one will be executed in case an exception occurs.

In [54]:
my_nums = [2, 5, 6, 8, 0, None]
for num in my_nums:
    try:
        print(30 / num)
    except ZeroDivisionError as zde:
        print('\n',zde)
        print("You were trying to divide a number by zero which is not possible")
    except TypeError as te:
        print('\n',te)
        print("You were trying to divide a number by a none type object.")

15.0
6.0
5.0
3.75

 division by zero
You were trying to divide a number by zero which is not possible

 unsupported operand type(s) for /: 'int' and 'NoneType'
You were trying to divide a number by a none type object.

In [56]:
my_nums = [2, 5, 6, 8, 0, None, 'a', 4]
for num in my_nums:
    try:
        print(30 / int(num)) #changed from previous exmaple
    except ZeroDivisionError as zde:
        print('\n',zde)
        print("You were trying to fivide a number by zero which is not possible")
    except TypeError as te:
        print('\n',te)
        print("You were trying to divide a number by a none type object.")

15.0
6.0
5.0
3.75

 division by zero
You were trying to fivide a number by zero which is not possible

 int() argument must be a string, a bytes-like object or a number, not 'NoneType'
You were trying to divide a number by a none type object.

ValueError: invalid literal for int() with base 10: 'a'

In [60]:
my_nums = [2, 5, 6, 8, 0, None, 'a', 4]
for num in my_nums:
    try:
        print(30 / int(num)) #changed from previous exmaple
    except ZeroDivisionError as zde:
        print('\n',zde)
        print("You were trying to fivide a number by zero which is not possible")
    except TypeError as te:
        print('\n',te)
        print("You were trying to divide a number by a none type object.")
    except Exception as e:
        print('\n',e.__class__)
        print(e)

15.0
6.0
5.0
3.75

 division by zero
You were trying to fivide a number by zero which is not possible

 int() argument must be a string, a bytes-like object or a number, not 'NoneType'
You were trying to divide a number by a none type object.

 <class 'ValueError'>
invalid literal for int() with base 10: 'a'
7.5

In [61]:
my_nums = [2, 5, 6, 8, 0, None, 'a', 4]
for num in my_nums:
    try:
        print(30 / int(num)) #changed from previous exmaple
    except Exception as e:
        print('\n',e.__class__)
        print(e)
    except ZeroDivisionError as zde:
        print('\n',zde)
        print("You were trying to fivide a number by zero which is not possible")
    except TypeError as te:
        print('\n',te)
        print("You were trying to divide a number by a none type object.")

15.0
6.0
5.0
3.75

 <class 'ZeroDivisionError'>
division by zero

 <class 'TypeError'>
int() argument must be a string, a bytes-like object or a number, not 'NoneType'

 <class 'ValueError'>
invalid literal for int() with base 10: 'a'
7.5

### Raising Exceptions in Python
Exceptions are raised when errors occur at runtime. We can also manually raise exceptions using the raise keyword. We can optionally pass values to the exception to clarify why that exception was raised.

In [68]:
my_nums = [2, 5, 6, 8, -4]
for num in my_nums:
    try:
        if num <= 0:
            raise ValueError("That is not a positive number!")
        print(30 / num)
    except ValueError as ve:
        print(ve.__class__)
        print(ve)

15.0
6.0
5.0
3.75
<class 'ValueError'>
That is not a positive number!

In [73]:
my_nums = [2, 5, 6, 8, -4]
for num in my_nums:
    try:
        if num <= 0:
            raise Exception("That is not a positive number!")
        print(30 / num)
    except Exception as ve:
        print(ve.__class__)
        print(ve)

15.0
6.0
5.0
3.75
<class 'Exception'>
That is not a positive number!

### Python try with else clause
In some situations, you might want to run a certain block of code if the code block inside try ran without any errors. For these cases, you can use the optional else keyword with the try statement.

In [69]:
my_nums = [2, 5, 6, 8, 0, None, 'a']
for num in my_nums:
    try:
        z = 30 / num
    except Exception as e:
        print(e.__class__,e)
    else:
        print(z)

15.0
6.0
5.0
3.75
<class 'ZeroDivisionError'> division by zero
<class 'TypeError'> unsupported operand type(s) for /: 'int' and 'NoneType'
<class 'TypeError'> unsupported operand type(s) for /: 'int' and 'str'

### Python try with finally
The try statement in Python can have an optional finally clause. This clause is executed no matter what, and is generally used to release external resources.

In [70]:
my_nums = [2, 5, 6, 8, 0, None, 'a']
for num in my_nums:
    try:
        z = 30 / num
    except Exception as e:
        print(e.__class__,e)
    else:
        print(z)
    finally:
        print("Executed no matter what\n")

15.0
Executed no matter what

6.0
Executed no matter what

5.0
Executed no matter what

3.75
Executed no matter what

<class 'ZeroDivisionError'> division by zero
Executed no matter what

<class 'TypeError'> unsupported operand type(s) for /: 'int' and 'NoneType'
Executed no matter what

<class 'TypeError'> unsupported operand type(s) for /: 'int' and 'str'
Executed no matter what